*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
    margin: 0%;
    text-decoration:none ;
    list-style: none;
    border: none;
    user-select: none;
}
body{
    min-height: 100vh;
    background-color: hsl(201, 91%, 45%);
}
nav{
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 250px;
    background-image: linear-gradient(to bottom right,rgb(20, 21, 27) ,rgba(103, 98, 98, 0.587)) !important;
    transition: all 0.5s ease;
    overflow: auto;
}
nav.close{
    width: 73px;
}
nav .div-logo-name{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    white-space: nowrap;
    overflow: hidden;
}
nav .logo_name{
    font-size: 29px;
    font-weight: 600;
    color:aqua;
    transition: all 0.5s ease;
    
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
.div-logo-name{
    width: 100%;
   padding-top: 30px;
}
nav .menu-items{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 25px;
}
.menu-items li{
    background-color: transparent;
    border-bottom: 1px solid rgba(119, 253, 47, 0.133);
    height:40px ;
    width: 100%;
    display: flex;
    align-items: center;
}

.close .menu-items li a{
    justify-content: center;
}
.menu-items li a{
    text-decoration: none;
    height:40px ;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.nav-links li:hover{
    border-radius: 3px solid rgb(188, 56, 171);
    font-weight: bold;
    background-image: linear-gradient(to right,#23881c85,#2789cb,#3b90b4) !important;
    background: transparent;
}
.button-menu{
    overflow: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: 13px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #11a7da;
    height: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
    line-height: 27px;
}
.menu-items li a i{
    font-size: 18px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#ffffff;
}
.menu-items li a .link-nome{
    font-size: 16px;
    font-weight: 400;
    color:#ffffff;
    transition: all 0.5s ease;
}
nav.close li a .link-nome{
    display: flex;
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.close .menu-sid{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .menu-sid{
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 12px;
 }
.sidebar-toggle{
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    padding: 6px;
}
.sidebar-toggle2{
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    padding: 6px;
    display: none;
} 
/*perfil*/
.icons-size{
    color: #555;
    font-size: 22px;
    font-weight: 600;
}
.actionimg{
    right: 30px;
    display: flex;
    object-fit: cover;
}
.actionimg .profile{
    border-radius: 50%;
    cursor: pointer;
    height: 36px;
    overflow: hidden;
    width: 36px;
}

.actionimg .profile img{
    width: 100%;
    top: 0;
    object-fit: cover;
    left: 0;
    height: 100%;
}
.actionimg .menu{
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 10px 20px;
    position: absolute;
    right: 10px;
    width: 200px;
    transition: 0.5s;
    top: 120px;
    visibility: hidden;
    opacity: 0;
}
.actionimg .menu.active{
    opacity: 1;
    top: 60px;
    visibility: visible;
}
.actionimg .menu::before {
    background-color: #ffffff;
    content: '';
    height: 20px;
    position: absolute;
    right: 14px;
    transform: rotate(45deg);
    top: -5;
    

}