@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    border: none;

    user-select: none;

}


/*MENU*/
body {
    min-height: 100vh;
    background-color: #0E4BF1;
}

nav {
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-image: linear-gradient(to bottom right, #2C383D, #181E22) !important;
    transition: all 0.5s ease;
    overflow: auto;
}

nav.close {
    width: 73px;
}

nav .div-logo-name {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    white-space: nowrap;
    overflow: hidden;
}

nav .logo_name {
    font-size: 29px;
    font-weight: 600;
    color: #00aaff;
    transition: all 0.5s ease;
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

.div-logo-name {
    width: 100%;
    padding-top: 30px;
}

nav .menu-items {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 25px;
}

.menu-items li {
    background-color: transparent;
    border-bottom: 1px solid #1A2326;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

.close .menu-items li a {
    justify-content: center;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    text-decoration: none;
    position: relative;
}

.nav-links li:hover {
    border-left: 3px solid #00aaff;
    font-weight: bold;
    background-image: linear-gradient(to right, #181E22, #181E22, #2C383D) !important;
    background: transparent;
}

.button-menu {
    overflow: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: 13px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #1A2326;
    height: 40px;
    text-decoration: none;
    color: white;
    text-align: left;
    width: 100%;
    line-height: 37px;
}

.menu-items li a i {
    font-size: 18px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.menu-items li a .link-name {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    transition: all 0.5s ease;
}

nav.close li a .link-name {
    display: none;
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.close .menu-sid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-sid {
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 12px;
}

.sidebar-toggle {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    padding: 6PX;
}

.sidebar-toggle2 {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    padding: 6PX;
    display: none;
}


/*perfil*/

.icons-size {
    color: #555;
    font-size: 22px;
    font-weight: 600;
}

.actionimg {
    right: 30px;
    display: flex;
    object-fit: cover;
}

.actionimg .profile {
    border-radius: 50%;
    cursor: pointer;
    height: 36px;
    overflow: hidden;
    width: 36px;
}

.actionimg .profile img {
    width: 100%;
    top: 0;
    object-fit: cover;
    left: 0;
    height: 100%;
}

.actionimg .menu {
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 10px 20px;
    position: absolute;
    right: 10px;
    width: 200px;
    transition: 0.5s;
    top: 120px;
    visibility: hidden;
    opacity: 0;
}

.actionimg .menu.active {
    opacity: 1;
    top: 60px;
    visibility: visible;
}

.actionimg .menu::before {
    background-color: #ffffff;
    content: '';
    height: 20px;
    position: absolute;
    right: 14px;
    transform: rotate(45deg);
    top: -5px;
    width: 20px;
}
.actionimg .menu{
    color: #535252;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
    padding: 20px 0px;
    text-align: left;
    width: 100%;
}
.actionimg .menu ul li{
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0,.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
    cursor: pointer;
}
.actionimg .menu ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}
.actionimg .menu ul li a {
    display: inline-block;
    color: #707070;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.actionimg .menu ul li * {
    transition: 0.1s;
}
.actionimg .menu ul li:hover img{
    opacity: 1;
}
.actionimg .menu ul li:hover *{
    color: #00aaff;

}
.actionimg .menu ul li:hover a {
    font-size: 15px;

}
.actionimg li:hover .icons-size{
    font-size: 24px;

}
/*fim perfil*/

.corpo{

    display: flex;
}
.dashboard{
    background-color: rgb(247, 245, 245);
    height: 100vh;
    width: 100%;
    transition: all 0.5s ease;

}
/*--- Custom Scroll bar CSS---*/

::-webkit-scrollbar{
    width: 8px;

}
.-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #3a3b3c;
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover{
    background: #0b3cc1;
}
.top{
    top: 0;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: rgb(255, 255, 255);
    transition: all 0.5s ease;
    z-index: 10;
}

  /* scroll*/

.scroll::-webkit-scrollbar{
    width: 5px;
    border: 1px solid rgb(255, 255, 255);
}
.scroll::-webkit-scrollbar-thumb{
    background-color: #0e4bf1;
    border-radius: 6px;
}
.corpo-da-pag{
    padding: 20px;
    width: 100%;
    height: calc(100% - 50px);
}
